<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-bluprovision" version="0.1.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>BluProvisionWrapper</name>
    <js-module name="BluProvisionWrapper" src="www/BluProvisionWrapper.js">
        <clobbers target="cordova.plugins.BluProvisionWrapper" /></js-module>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="BluProvisionWrapper"><param name="ios-package" value="BluProvisionWrapper" /></feature>
        </config-file>
        <framework src="src/ios/lib/Bluvision.framework" custom="true" embed="true"/>
        <framework src="src/ios/lib/BluzoneCloud.framework" custom="true" embed="true"/>
        <source-file src="src/ios/com/bluvision/beacons/plugin/BluProvisionWrapper.m" />
        <source-file src="src/ios/com/bluvision/beacons/plugin/BeaconInteractor.h" />
        <source-file src="src/ios/com/bluvision/beacons/plugin/BeaconInteractor.m" />
    </platform>
    <platform name="android">
      <framework src="src/android/build.gradle" custom="true" type="gradleReference" />
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="BluProvisionWrapper">
                <param name="android-package" value="com.bluvision.beacons.plugin.BluProvisionWrapper" />
            </feature>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/manifest">
          <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
          <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
        </config-file>
        <source-file src="src/android/com/bluvision/beacons/plugin/BluProvisionWrapper.java" target-dir="src/com/bluvision/beacons/plugin/" />
        <source-file src="src/android/com/bluvision/beacons/plugin/BeaconInteractorCallback.java" target-dir="src/com/bluvision/beacons/plugin/" />
        <source-file src="src/android/com/bluvision/beacons/plugin/BeaconInteractor.java" target-dir="src/com/bluvision/beacons/plugin/" />
        <source-file src="src/android/com/bluvision/beacons/plugin/BluVisionManagerHandler.java" target-dir="src/com/bluvision/beacons/plugin/" />
        <resource-file src="src/android/libs/bluvision.aar" target="libs/bluvision.aar"/>
        <resource-file src="src/android/libs/bluzone-cloud.aar" target="libs/bluzone-cloud.aar"/>
    </platform>
</plugin>
